name = "bookstore"
compatibility_date = "2025-12-29"

[assets]
directory = "client/build"

[build]
command = "cd client && npm run build"

[[routes]]
pattern = "/*"
fallback = "/index.html"

[env.production]
vars = { ENVIRONMENT = "production" }
